In [1]:
#Square the numbers
numbers = [1,2,3,4,5]
square_numbers= [i**2 for i in numbers]
print(square_numbers)

[1, 4, 9, 16, 25]

In [2]:
#filtering even numbers from list
numbers = [1,21,3,4,89,98]
even_numbers = [i for i in numbers if i%2==0]
print(even_numbers)

[4, 98]

In [3]:
#Flaterring list of list
lists =[[1,2,3],[4,5,6],[7,8,9]]
flatering = [nested_numbers for sublist in  lists for nested_numbers in sublist]
print(flatering)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#flatering word
lists = [ ['a','b','c'],['d','e','f'],['g','h','i']]
flatering = [alphabet for sub_alphabet in lists for alphabet in sub_alphabet]
print(flatering)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [5]:
#Genrating a first letter of list
lists = ['apple','ball','cat']
first_letter = [alphabet[0]for alphabet in lists ]
print(first_letter)

['a', 'b', 'c']

In [6]:
#Genrating a first letter of list
lists = [['apple'],['ball'],['cat']]
first_letter = [alpha[0]for nested_alpha in lists for alpha in nested_alpha]
print(first_letter)

['a', 'b', 'c']

In [7]:
#Generating a list of square in even numbers
numbers =[1,2,3,4,5,6,7,8,9,10]
square_number = [n**2 for n in numbers if n%2==0 ]
print(square_number)

[4, 16, 36, 64, 100]

In [8]:
#Converting a list of string in list of integers
string = ['1','2','3','4','5']
lists =[list(number) for number in string ]
print(type(lists))

<class 'list'>

In [9]:
#Generating a list of all divisor of a number
number = 72
divisor = [i for i in range(1,number+1) if number%i ==0]
print(divisor)

[1, 2, 3, 4, 6, 8, 9, 12, 18, 24, 36, 72]